streamlit 
pydantic
crewai==0.83.0
crewai-tools==0.14.0
agentops==0.3.17
requests==2.32.3
shapely==2.0.6
google-api-core==2.22.0
google-api-python-client==2.152.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
Markdown==3.7
markdown-it-py==3.0.0
python-dotenv==1.0.1
slack-sdk
pydub==0.25.1
groq
pysqlite3-binary
chromadb==0.5.18
